/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/docker/ash/.ash_history
/docker/php/psysh
!/docker/php/psysh/config.php
/logs/*